.option {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #e0e0e0;
    cursor: pointer;
    background-color: #7a2020;
    font-size: large;
    text-decoration: underline;
    color: rgb(64, 9, 9);
    text-align: center;
}