.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 5%;
    margin-left: 3%;
    background-color: #300509;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    max-width: 100vw;
    height: 100%;
    z-index: 1000;
}

.link-button {
    background-color: #450a10;
    color: #7d3b3b;
    padding: 5%;
    text-align: center;
    margin: 2px;
    cursor: pointer;
    font-size: larger;
    height: 9vh;
    width: 18.7vw;
}