.nav-div {
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-flow: row nowrap;
    top: 0;
    left: 0;
    justify-items: flex-start;
    align-items: center;
    margin-bottom: 5%;
    background-color: #300509;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    width: 100vw;
    height: 9.8vh;
    z-index: 1001;
}

.logo-img {
    width: 90px;
    height: 90px;
}

.row-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 60vw;
    height: 100%;
}