
<div class="container">
    <div class="guilds-container">
        <div class="guilds-list">
            <div class="guild">
                <div class="guild-header">
                    <h2>Doge of Sin</h2>
                    <h3>Recruiting: </h3>
                    <h2>❌</h2>
                </div>
                <div class="guild-body">
                    <p> The Doge of Sin is the premier top end guild on Server 1 of the mobile game Pixel Heroes.
                        Comprised of the best players on the server, the Doge of Sin is a place to compete at the top level.
                    </p>
                </div>
            </div>
            <div class="guild">
                <div class="guild-header">
                    <h2>Doge of Pride</h2>
                    <h3>Recruiting: </h3>
                    <h2>✅</h2>
                </div>
                <div class="guild-body">
                    <p>
                        The Doge of Pride features members we consider to be "Up and Comers" on Server 1 of Pixel Heroes.
                        Featuring primarily experienced players looking to push to the next level, the Doge of Pride is a great place to learn and grow.
                    </p>
                </div>
            </div>
            <div class="guild">
                <div class="guild-header">
                    <h2>Doge of Envy</h2>
                    <h3>Recruiting: </h3>
                    <h2>✅</h2>
                </div>
                <div class="guild-body">
                    <p>
                        The Doge of Envy is the newest Doge guild on Server 1 of Pixel Heroes.
                        A fantastic place to start your journey, the Doge of Envy is a great place to learn the game and make friends
                        with a strong community of experienced players from the other Doge guilds. 
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
